@import './00_settings/breakpoints';
@import './00_settings/colors';
@import './00_settings/layout';
@import './00_settings/typography';

@import './01_tools/accessibility';
@import './01_tools/clearfix';
@import './01_tools/compartment';
@import './01_tools/cover';
@import './01_tools/font-face';
@import './01_tools/functions';
@import './01_tools/list-reset';
@import './01_tools/media_queries';

@import './02_generic/reset';

@import './03_tags/tags';
@import './04_objects/icons/fontawesome';

@import './04_objects/layout/layout';
@import './04_objects/layout/modal';
@import './04_objects/layout/scaffolding';

@import './04_objects/media/media';
@import './04_objects/vendor/slick';

// @import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;1,700&display=swap');

// User Interface
@import '../react-components/sections/hero/hero.scss';

// Themes
@import './06_themes/dark/dark.theme';

@import './07_utilities/box/box';
@import './07_utilities/display/behavior';
@import './07_utilities/display/display';
@import './07_utilities/display/positioning';
@import './07_utilities/typography/hyperlinks';
@import './07_utilities/typography/positioning';
@import './07_utilities/animations/animation';
