.s-loader {
    background: #000;
    color: #fff;
    // position: absolute;
    // width: 100%;
    // height: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: inherit;
    transition: background-color;
    z-index: 9998;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    // top: -83px;
    // height: calc(100% + 83px);
    position: fixed;
}