.s-hero{
    background: #000000;
    padding: 2.5em 0;
    min-height: 98vh;
    display: flex;
    align-items: center;
    justify-content: center;
    @media (min-width: 1000px) { 
        padding: 0;
    }
    h1, h2, h3, h4, p, small,em{
        color:white;
    }
    em{
        margin-bottom: .5em;
        display: inline-block;
    }
    main{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        position:relative;
        z-index:10;
        @media (min-width: 1000px) { 
            height: 100vh;
            flex-direction: row;
        }
    }
    .mzt-logo{
        max-width: 75%;
        margin: 0 auto;
        transition: transform 350ms ease-out;
        &:hover{
            transform: scale(1.025);
            //cursor: url('https://pngset.com/images/fireball-clipart-pixel-sprite-flare-light-sphere-astronomy-transparent-png-2076878.png'), auto;
            cursor:url('/img/fireball.png') 2 2, pointer;
            ;
        }
    }
    .mzt-bio{
        &__imgWrap{
            border-radius: 100%;
            overflow: hidden;
            margin-bottom: 1em;
        }
        &__content{
            margin-left: 1em;
            margin-top: .5em;
        }
    }
    video{
        position: fixed;
        right: 0;
        bottom: 0;
        min-width: 100%;
        min-height: 100%;
        transform: scale(4.5);
        @media (min-width: 1000px) { 
            transform: scale(1.5);
        }
        // position: absolute;
        // display: block;

        // background: black;
        // top:0;
        // left:0;
        // z-index: 1;
        // @media (min-width: 1000px) { 
        //     width: 100vw;
        //     height: 100vh;
        // }
    }
    h1{
        margin-bottom: 1.125em;
    }
    button{
        background: #33dd7d;
        color: black;
        text-shadow: #fff -1px 1px;
        font-weight: 800;
        font-family: monospace;
        font-size: 1.6em;
        border-radius: 2px;
        border: 1px solid #7affab;
        margin-top: 1.75em;
        margin-bottom: 1em;
        padding: 0;
        cursor: not-allowed;
        a{
            padding: 0.75em;
            color: black;
            width: 100%;
            height: 100%;
            display: flex;
            svg{
                display: block;
                height: 25px;
                width: 25px;
                top: 5px;
                left: 7px;
                position: relative;
            }
        }
        &:hover{
            color: white;
            background: #008138;
            text-shadow: black 1px 2px;
        }
    }
    a{
        color: #00b750;
        &:hover{
            color: #72e6a4;
        }
    }
    small{
        display: block;
    }
    .c-menu{
        margin-top: 1em;
        @media (min-width: 1000px) {
            margin-top: 0;
        }
        ul{
            padding: 0;
            list-style: none;
            li{
                display: inline-block;
            }
        }
        span{
            margin: 0 1.25em 2em 0;
            color: #00b750;
            display: block;
            //padding: 0.5em;
            &:first-child{
                margin-left: 0;
            }
            &:hover{
                color: #72e6a4;
                cursor: pointer;
            }
            &.-active{
                //background: #00b750;
                color: #72e6a4;
                text-decoration: underline;
                &:hover{
                    color: #72e6a4;
                    cursor: default;
                }
            }
        }
    }
}