.s-hero{
    background: #000000;
    display: block;
    padding: 2.5em 0;
    @media (min-width: 1000px) { 
        padding: 0;
    }
    main{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        position:relative;
        z-index:10;
        @media (min-width: 1000px) { 
            height: 100vh;
            flex-direction: row;
        }
    }
    .mzt-logo{
        max-width: 75%;
        margin: 0 auto;
        &__img{
            
        }
    }
    video{
        position: absolute;
        display: block;

        background: black;
        top:0;
        left:0;
        z-index: 1;
        @media (min-width: 1000px) { 
            width: 100vw;
            height: 100vh;
        }
    }
    h1, h2, h3, h4, p, small{
        color:white;
    }
    button{
        background: #00b750;
        color: black;
        text-shadow: #fff -1px 1px;
        font-weight: 800;
        font-family: monospace;
        font-size: 1.6em;
        border-radius: 2px;
        padding: 0.75em 1.5em;
        border: 1px solid #7affab;
        margin-top: 1.75em;
        margin-bottom: 1.75em;
        &:hover{
            color: white;
            background: #33dd7d;
            text-shadow: black 1px 2px;
        }
    }
    a{
        color: #00b750;
        &:hover{
            color: #72e6a4;
        }
    }
    small{
        margin-top: 1em;
        display: block;
    }
}